:root {
    --color-primary: #3eb0ef;
    --color-base: #131313;
    --color-border: #ddd;
    --color-bg: #fff;
    --font-sans-serif: "Futura", "League Spartan", "Trebuchet MS", Arial, sans-serif;
    --font-serif: "EB Garamond", Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;
    --height: 4rem;
    --margin: 2rem;
    --radius: .5rem
}

[data-theme=dark] {
    --color-primary: #5ec2ff;
    --color-base: #e0e0e0;
    --color-border: #444;
    --color-bg: #121212
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    font: inherit;
    vertical-align: baseline;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none
}

img {
    max-width: 100%
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif
}

*,:before,:after {
    box-sizing: inherit
}

a {
    background-color: #0000
}

a:active,a:hover {
    outline: 0
}

b,strong {
    font-weight: 700
}

i,em,dfn {
    font-style: italic
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

small {
    font-size: 80%
}

sub,sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

mark {
    background-color: #fdffb6
}

code,kbd,pre,samp {
    font-family: monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    border: none;
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input:focus {
    outline: none
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button {
    height: auto
}

input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td,th {
    padding: 0
}

html {
    -webkit-tap-highlight-color: #0000;
    font-size: 62.5%;
    overflow: hidden scroll
}

body {
    color: color-mix(in srgb, var(--color-base), white 20%);
    letter-spacing: 0;
    text-rendering: optimizelegibility;
    background: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
    overflow-x: hidden
}

::selection {
    text-shadow: none;
    background: var(--color-primary)
}

hr {
    border: 0;
    border-top: 2px solid var(--color-base);
    width: 100%;
    height: 1px;
    margin: 2.5em 0 3.5em;
    padding: 0;
    display: block;
    position: relative
}

audio,canvas,iframe,img,svg,video {
    vertical-align: middle
}

p,blockquote {
    margin: 0 0 1.5em
}

blockquote {
    border-left: var(--color-bg) .5em solid;
    margin: 1.5em 0;
    padding: 0 1.6em
}

blockquote p {
    margin: .8em 0;
    font-size: 1.2em;
    font-weight: 300
}

blockquote small {
    opacity: .8;
    margin: .8em 0 .8em 1.5em;
    font-size: .9em;
    display: inline-block
}

blockquote small:before {
    content: "— "
}

blockquote cite {
    font-weight: 700
}

blockquote cite a {
    font-weight: 400
}

a {
    color: color-mix(in srgb, var(--color-primary), black 5%);
    text-decoration: none;
    transition: all .4s
}

a:hover {
    text-decoration: underline;
    transition: all .2s
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-base);
    text-rendering: optimizelegibility;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.4
}

h1 {
    margin: 0 0 .5em;
    font-size: 5.7rem;
    font-weight: 800
}

@media (width<=500px) {
    h1 {
        font-size: 3rem
    }
}

h2 {
    margin: 1.5em 0 .5em;
    font-size: 4rem
}

@media (width<=500px) {
    h2 {
        font-size: 2.7rem
    }
}

h3 {
    margin: 1.5em 0 1em;
    font-size: 3.2rem
}

@media (width<=500px) {
    h3 {
        font-size: 2rem
    }
}

h4 {
    margin: 1.5em 0 1em;
    font-size: 2.6rem
}

@media (width<=500px) {
    h4 {
        font-size: 1.8rem
    }
}

h5 {
    margin: 1.5em 0 1em;
    font-size: 2.4rem
}

@media (width<=500px) {
    h5 {
        font-size: 1.6rem
    }
}

h6 {
    margin: 1.5em 0 1em;
    font-size: 2.2rem
}

@media (width<=500px) {
    h6 {
        font-size: 1.4rem
    }
}

.kg-card {
    margin: 7vw 0
}

.kg-embed-card {
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    display: flex
}

.kg-image {
    width: 100%;
    max-width: 100%
}

.kg-card figcaption {
    color: var(--color-base);
    text-align: center;
    opacity: .4;
    padding: 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4em
}

.kg-width-wide {
    width: 75vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: relative;
    transform: translate(calc(50vw - 50%))
}

.kg-width-full {
    width: 94vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: relative;
    transform: translate(calc(50vw - 50%))
}

.kg-width-full figcaption {
    text-align: left;
    padding-left: 0;
    padding-right: 0
}

@media (width<=800px) {
    .kg-width-full {
        width: 100vw
    }

    .kg-width-full figcaption {
        padding-left: 6vw
    }
}

.kg-gallery-container {
    flex-direction: column;
    width: 75vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    display: flex;
    position: relative;
    transform: translate(calc(50vw - 50%))
}

.kg-gallery-row {
    flex-direction: row;
    justify-content: center;
    display: flex
}

.kg-gallery-image img {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block
}

.kg-gallery-row:not(:first-of-type) {
    margin: .75em 0 0
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 .75em
}

.kg-gallery-card+.kg-image-card.kg-width-wide,.kg-gallery-card+.kg-gallery-card,.kg-image-card.kg-width-wide+.kg-gallery-card,.kg-image-card.kg-width-wide+.kg-image-card.kg-width-wide {
    margin-top: calc(.75em - 7vw)
}

ul,ol,dl {
    margin: 0 0 var(--margin) 0
}

ol,ul {
    padding-left: 1.3em;
    padding-right: 1.5em
}

ol ol,ul ul,ul ol,ol ul {
    margin: .5em 0 1em
}

ul {
    list-style: outside
}

ol {
    list-style: decimal
}

ul,ol {
    max-width: 100%
}

li {
    margin: .5em 0;
    padding-left: .3em;
    line-height: 1.6em
}

dt {
    font-weight: var(--font-bold);
    margin: 0 0 calc(var(--margin) * .5) 0;
    display: block
}

dd {
    margin-left: var(--margin)
}

.row {
    flex-flow: wrap;
    flex: 0 auto;
    margin: 0 -1rem;
    display: flex
}

.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
    padding: 1rem
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%
}

.col-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%
}

.col-2 {
    flex-basis: 16.6667%;
    max-width: 16.6667%
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%
}

.col-4 {
    flex-basis: 33.3333%;
    max-width: 33.3333%
}

.col-5 {
    flex-basis: 41.6667%;
    max-width: 41.6667%
}

.col-6 {
    flex-basis: 50%;
    max-width: 50%
}

.col-7 {
    flex-basis: 58.3333%;
    max-width: 58.3333%
}

.col-8 {
    flex-basis: 66.6667%;
    max-width: 66.6667%
}

.col-9 {
    flex-basis: 75%;
    max-width: 75%
}

.col-10 {
    flex-basis: 83.3333%;
    max-width: 83.3333%
}

.col-11 {
    flex-basis: 91.6667%;
    max-width: 91.6667%
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%
}

@media (width<=800px) {
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11 {
        flex-basis: 50%;
        max-width: 50%
    }
}

@media (width<=600px) {
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11 {
        flex-basis: 100%;
        max-width: 100%
    }
}

table {
    border-collapse: separate;
    margin: 0 0 var(--margin) 0;
    width: 100%;
    font-size: .8em
}

th {
    color: var(--color-base);
    font-size: .9em;
    font-weight: var(--font-bold);
    text-align: left;
    padding: 0 .7em .4em
}

td {
    border-top-width: 0;
    border-left-width: 0;
    padding: .4em .7em
}

td:first-child {
    border-left-width: 1px
}

tbody tr {
    border: solid 1px var(--color-border);
    border-left: 0;
    border-right: 0
}

tbody tr:first-child td {
    border-top-width: 1px
}

tbody tr:nth-child(odd) {
    background-color: var(--color-bg)
}

tbody td {
    border: solid 1px var(--color-border);
    border-top-width: 0;
    border-left-width: 0
}

tfoot {
    border-width: 0
}

form {
    margin: 0 0 var(--margin) 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

label {
    color: var(--color-primary);
    font-size: .9em;
    font-weight: var(--font-bold);
    margin: 0 0 calc(var(--margin) * .5) 0;
    display: block
}

input[type=text],input[type=password],input[type=email],input[type=tel],input[type=search],input[type=url],select,textarea {
    background: var(--color-bg);
    border-radius: var(--radius);
    border: solid 1px var(--color-base);
    color: inherit;
    outline: 0;
    width: 100%;
    padding: 0 .6em;
    text-decoration: none;
    display: block
}

input[type=text]:invalid,input[type=password]:invalid,input[type=email]:invalid,input[type=tel]:invalid,input[type=search]:invalid,input[type=url]:invalid,select:invalid,textarea:invalid {
    box-shadow: none
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=tel]:focus,input[type=search]:focus,input[type=url]:focus,select:focus,textarea:focus {
    border-color: var(--color-base);
    box-shadow: 0 0 0 1px var(--color-base)
}

select {
    height: var(--height);
    padding-right: var(--height);
    text-overflow: ellipsis
}

select option {
    color: var(--color-base);
    background: var(--color-bg)
}

select:focus::-ms-value {
    background-color: #0000
}

select::-ms-expand {
    display: none
}

input[type=text],input[type=password],input[type=email],input[type=tel],input[type=search],input[type=url],select {
    height: var(--height)
}

textarea {
    resize: vertical;
    padding: .3em .6em
}

input[type=checkbox],input[type=radio] {
    opacity: 0;
    z-index: -1;
    width: 1em;
    margin-right: -2em;
    display: block
}

input[type=checkbox]+label,input[type=radio]+label {
    color: var(--color-base);
    cursor: pointer;
    font-size: 1em;
    font-weight: var(--font-normal);
    padding-left: calc((var(--height) * .6) + .75em);
    user-select: none;
    align-items: center;
    padding-right: 2rem;
    display: flex;
    position: relative
}

input[type=checkbox]+label:before,input[type=radio]+label:before {
    background: var(--color-bg);
    border-radius: var(--radius);
    border: solid 1px var(--color-base);
    content: "";
    height: calc(var(--height) * .6);
    line-height: calc(var(--height) * .56);
    text-align: center;
    width: calc(var(--height) * .6);
    margin-right: 1rem;
    display: inline-block
}

input[type=checkbox]:checked+label:before,input[type=radio]:checked+label:before {
    background: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-bg);
    content: "✓"
}

input[type=checkbox]:focus+label:before,input[type=radio]:focus+label:before {
    border-color: var(--color-base);
    box-shadow: 0 0 0 1px var(--color-base)
}

input[type=checkbox]+label:before {
    border-radius: var(--radius)
}

input[type=radio]+label:before {
    border-radius: 100%
}

input[type=submit],input[type=reset],input[type=button],button:not(.nav-burger):not(.theme-toggle),.button {
    height: var(--height);
    border-radius: var(--radius);
    cursor: pointer;
    font-family: var(--font-sans-serif);
    font-size: 1.4rem;
    font-weight: var(--font-normal);
    line-height: var(--height);
    text-align: center;
    white-space: nowrap;
    appearance: none;
    border: 0;
    padding: 0 2rem;
    text-decoration: none;
    transition: all .4s;
    display: inline-block
}

input[type=submit].fit,input[type=reset].fit,input[type=button].fit,button.fit,.button.fit {
    width: 100%
}

input[type=submit].small,input[type=reset].small,input[type=button].small,button.small,.button.small {
    height: calc(var(--height) * .9);
    line-height: calc(var(--height) * .9);
    padding: 0 1.5rem;
    font-size: 1.2rem
}

input[type=submit].large,input[type=reset].large,input[type=button].large,button.large,.button.large {
    height: calc(var(--height) * 1.14);
    line-height: calc(var(--height) * 1.14);
    padding: 0 3rem;
    font-size: 1.6rem
}

input[type=submit].disabled,input[type=submit]:disabled,input[type=reset].disabled,input[type=reset]:disabled,input[type=button].disabled,input[type=button]:disabled,button.disabled,button:disabled,.button.disabled,.button:disabled {
    pointer-events: none;
    opacity: .4
}

input[type=submit],input[type=reset],input[type=button],button:not(.nav-burger):not(.theme-toggle),.button {
    background-color: var(--color-base);
    box-shadow: inset 0 0 0 2px var(--color-base);
    color: var(--color-bg)!important
}

input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover,button:not(.nav-burger):not(.theme-toggle):hover,.button:hover {
    box-shadow: inset 0 0 0 2px color-mix(in srgb, var(--color-primary), black 10%);
    text-decoration: none;
    transition: all .2s;
    color: color-mix(in srgb, var(--color-primary), black 15%)!important
}

input[type=submit].primary,input[type=reset].primary,input[type=button].primary,button.primary,.button.primary {
    background-color: var(--color-bg);
    box-shadow: none;
    border: solid 1px var(--color-base);
    color: var(--color-base)!important
}

input[type=submit].primary:hover,input[type=reset].primary:hover,input[type=button].primary:hover,button.primary:hover,.button.primary:hover {
    background-color: var(--color-base);
    box-shadow: none;
    border: solid 1px var(--color-base);
    color: var(--color-bg)!important
}

.post-link {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    display: flex
}

.actions {
    cursor: default;
    margin: calc(var(--margin) * -.5);
    padding-left: 0;
    list-style: none;
    display: flex
}

.actions li {
    padding: 0 0 0 calc(var(--margin) * .5);
    vertical-align: middle
}

.actions.special {
    justify-content: center;
    width: 100%;
    margin-left: 0
}

.actions.special li:first-child {
    padding-left: 0
}

.actions.stacked {
    flex-direction: column;
    margin-left: 0
}

.actions.stacked li {
    padding: calc(var(--margin) * .65) 0 0 0
}

.actions.stacked li:first-child {
    padding-top: 0
}

.actions.fit {
    width: calc(100% + calc(var(--margin) * .5))
}

.actions.fit li {
    flex: auto;
    width: 100%
}

.actions.fit li>*,.actions.fit.stacked {
    width: 100%
}

@media (width<=480px) {
    .actions: not(.fixed) {
        flex-direction:column;
        margin-left: 0;
        width: 100%!important
    }

    .actions:not(.fixed) li {
        padding: calc(var(--margin) * .5) 0 0 0;
        text-align: center;
        flex: auto;
        width: 100%
    }

    .actions:not(.fixed) li>* {
        width: 100%
    }

    .actions:not(.fixed) li:first-child {
        padding-top: 0
    }

    .actions:not(.fixed) li input[type=submit],.actions:not(.fixed) li input[type=reset],.actions:not(.fixed) li input[type=button],.actions:not(.fixed) li button,.actions:not(.fixed) li .button {
        width: 100%
    }

    .actions:not(.fixed) li input[type=submit].icon:before,.actions:not(.fixed) li input[type=reset].icon:before,.actions:not(.fixed) li input[type=button].icon:before,.actions:not(.fixed) li button.icon:before,.actions:not(.fixed) li .button.icon:before {
        margin-left: -.5rem
    }
}

.hamburger {
    color: inherit;
    font: inherit;
    text-transform: none;
    cursor: pointer;
    background-color: #0000;
    border: 0;
    margin: 0;
    padding: 2px 0;
    transition: opacity .15s linear,filter .15s linear;
    display: flex;
    overflow: visible
}

.hamburger-box {
    width: 20px;
    height: 13px;
    display: inline-block;
    position: relative
}

.hamburger-inner {
    height: 2px;
    margin-top: -2px;
    display: block;
    top: 50%
}

.hamburger-inner,.hamburger-inner:before,.hamburger-inner:after {
    background-color: var(--color-base);
    border-radius: 4px;
    width: 20px;
    height: 1px;
    transition: transform .15s;
    position: absolute
}

.hamburger-inner:before,.hamburger-inner:after {
    content: "";
    display: block
}

.hamburger-inner:before {
    top: -6px
}

.hamburger-inner:after {
    bottom: -6px
}

.hamburger--collapse .hamburger-inner {
    transition-duration: .15s;
    transition-delay: .15s;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    top: auto;
    bottom: 0
}

.hamburger--collapse .hamburger-inner:after {
    transition: top .3s cubic-bezier(.33333,.66667,.66667,1) .3s,opacity .1s linear;
    top: -12px
}

.hamburger--collapse .hamburger-inner:before {
    transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .3s,transform .15s cubic-bezier(.55,.055,.675,.19)
}

.site-head-open .hamburger-inner,.site-head-open .hamburger-inner:before,.site-head-open .hamburger-inner:after {
    background-color: var(--color-base)
}

.site-head-open .hamburger-inner {
    transition-delay: .32s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: translateY(-6px)rotate(-45deg)
}

.site-head-open .hamburger-inner:after {
    opacity: 0;
    transition: top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .27s;
    top: 0
}

.site-head-open .hamburger-inner:before {
    transition: top .12s cubic-bezier(.33333,0,.66667,.33333) .18s,transform .15s cubic-bezier(.215,.61,.355,1) .42s;
    top: 0;
    transform: rotate(-90deg)
}

.transition-fade {
    opacity: 1;
    transition: all .25s;
    animation: .9s cubic-bezier(.075,.82,.165,1) forwards slideUp;
    transform: translateY(4vh)
}

html.is-animating .transition-fade {
    opacity: 0
}

@keyframes slideUp {
    0% {
        transform: translateY(4vh)
    }

    to {
        transform: translate(0,0)
    }
}

.error-head {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    display: flex
}

.error-head h1 {
    font-size: 7rem;
    line-height: 1.1em;
    font-weight: var(--font-heavy);
    letter-spacing: 10px;
    margin: 0
}

.error-head p {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: color-mix(in srgb, var(--color-base), white 50%);
    font-size: 1.4rem
}

.error-link {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: underline
}

.post-content {
    max-width: 720px;
    margin: 0 auto;
    padding: 3vw 0
}

.contact-form {
    max-width: 720px;
    margin: 0 auto
}

.post-content-header {
    flex-direction: column;
    align-items: center;
    display: flex
}

.post-content-title {
    color: var(--color-base);
    text-align: center;
    margin: 0 0 3vw
}

.post-content-excerpt {
    color: var(--color-base);
    text-align: center;
    opacity: .5;
    margin: -2vw 0 3vw;
    font-size: 2.2rem;
    line-height: 1.6em
}

@media (width<=500px) {
    .post-content-excerpt {
        font-size: 1.8rem
    }
}

.post-content-image {
    width: 75vw;
    min-width: 100%;
    margin: 4vw calc(50% - 50vw);
    position: relative;
    transform: translate(calc(50vw - 50%))
}

.contact-form-image {
    width: 100vw;
    min-width: 100%;
    margin: 2vw calc(50% - 50vw);
    position: relative;
    transform: translate(calc(50vw - 50%))
}

.post-content-body {
    font-size: 1.9rem;
    line-height: 1.65em
}

@media (width<=500px) {
    .post-content-body {
        font-size: 1.7rem
    }
}

.post-content-body h1,.post-content-body h2,.post-content-body h3,.post-content-body h4,.post-content-body h5,.post-content-body h6 {
    color: var(--color-base)
}

.post-content-body li {
    word-break: break-word
}

.post-content-body li p {
    margin: 0
}

.post-content-body iframe {
    margin: 0 auto!important
}

.post-content-body blockquote {
    border-left: var(--color-base) 3px solid;
    margin: 0 0 1.5em;
    padding: 0 1.5em
}

.post-content-body blockquote p {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0 0 1em;
    font-style: italic
}

.post-content-body blockquote p:last-child {
    margin-bottom: 0
}

.post-content-body code {
    background: var(--color-bg);
    border-radius: 3px;
    padding: 0 5px 2px;
    font-size: .8em;
    line-height: 1em;
    font-weight: 400!important
}

.post-content-body p code {
    word-break: break-all
}

.post-content-body pre {
    border: color-mix(in srgb, var(--color-base), black 10%) 1px solid;
    max-width: 100%;
    color: var(--color-base);
    background: color-mix(in srgb, var(--color-bg), black 10%);
    border-radius: 5px;
    margin: 1.5em 0 3em;
    padding: 20px;
    font-size: 1.4rem;
    line-height: 1.5em;
    overflow-x: auto
}

.post-content-body pre code {
    font-size: inherit;
    line-height: inherit;
    background: 0 0;
    padding: 0
}

.post-content-body pre code :not(span) {
    color: inherit
}

.post-content-body .fluid-width-video-wrapper {
    margin: 1.5em 0 3em
}

.post-content-body hr {
    margin: 4vw 0
}

.post-content-body hr:after {
    content: "";
    background: color-mix(in srgb, var(--color-border), white 10%);
    width: 0;
    height: 30px;
    box-shadow: var(--color-base) 0 0 0 1px;
    margin-left: -10px;
    display: block;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: rotate(45deg)
}

.footnotes-sep {
    margin-bottom: 30px
}

.footnotes {
    font-size: 1.5rem
}

.footnotes p {
    margin: 0
}

.footnote-backref {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-primary)!important;
    box-shadow: none!important;
    text-decoration: none!important
}

.author-meta {
    color: color-mix(in srgb, var(--color-border), black 20%);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    display: flex
}

.author-links {
    align-items: center;
    margin-top: 20px;
    display: flex
}

.author-links a {
    color: var(--color-base);
    opacity: .4;
    margin: 0;
    padding: 0 12px;
    display: block
}

.author-links a:hover {
    opacity: 1;
    text-decoration: none
}

.author-links .divider {
    margin: 0 3px;
    display: inline-block
}

.page-template .post-content-body h1,.page-template .post-content-body h2,.page-template .post-content-body h3 {
    text-align: inherit
}

.good-bye-page,.thank-you p {
    flex-direction: column;
    align-items: center;
    display: flex
}

.kg-image,img {
    border-radius: 10px
}

body {
    font-family: var(--font-serif);
    background: var(--color-bg);
    color: var(--color-base);
    transition: background .3s ease-out,color .3s ease-out;
    transition-delay: .25;
    margin: 0
}

.theme-toggle {
    cursor: pointer;
    opacity: .8;
    appearance: none;
    box-shadow: none;
    background: 0 0;
    border: none;
    outline: none;
    align-items: center;
    padding: 0;
    display: flex
}

.theme-toggle:focus {
    outline: none
}

.theme-toggle:hover {
    opacity: 1
}

.sun-icon {
    color: gold
}

.moon-icon {
    color: #333
}

[data-theme=dark] .moon-icon {
    color: #eee
}

.img {
    background-position: 50%;
    background-size: cover;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: block
}

.hidden {
    visibility: hidden;
    text-indent: -9999px;
    position: absolute
}

.site-main {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.site-wrapper {
    max-width: 1920px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 3vw
}

@media (width<=850px) {
    .site-wrapper {
        padding: 6vw
    }
}

.page-head {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: auto;
    padding: 13vw 0;
    display: flex
}

.page-head-title {
    color: var(--color-base);
    margin: 0;
    font-size: 4.2rem;
    font-weight: 400
}

@media (width<=500px) {
    .page-head-title {
        font-size: 2rem
    }
}

.page-head-description {
    color: color-mix(in srgb, var(--color-border), black 20%);
    margin: 0 0 1.6vw;
    font-size: 2.2rem;
    line-height: 1.35em
}

@media (width<=500px) {
    .page-head-description {
        font-size: 1.6rem
    }
}

.site-foot {
    font-family: var(--font-sans-serif);
    text-align: center;
    color: var(--color-base);
    opacity: .6;
    margin: 3vw 0 1vw;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.6
}

.site-foot div {
    margin: .3rem 0
}

footer.site-foot a {
    text-decoration: underline
}

.site-foot a {
    color: var(--color-base)
}

.site-head {
    z-index: 300;
    margin-top: -10px;
    font-size: 1.35rem;
    position: relative
}

.site-head-container {
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    display: flex
}

.site-head-left {
    z-index: 100;
    white-space: nowrap;
    align-items: center;
    margin-right: 10px;
    display: flex;
    position: relative
}

.nav {
    margin: 0 0 0 -12px;
    padding: 0;
    list-style: none;
    display: flex
}

.site-head li {
    margin: 0;
    padding: 0;
    display: block
}

.site-head-left a,.site-head-right a {
    color: var(--color-base);
    font-family: var(--font-sans-serif);
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 1px;
    opacity: .6;
    margin: 0;
    padding: 10px 12px;
    font-size: 1.8rem;
    font-weight: 400;
    display: block
}

.nav-current a,.site-head a:hover {
    opacity: 1;
    text-decoration: none
}

.site-head-center {
    justify-content: center;
    width: 100%;
    display: flex;
    position: absolute
}

.site-head-logo {
    font-family: var(--font-sans-serif);
    color: var(--color-base);
    text-transform: uppercase;
    letter-spacing: 3px;
    flex-shrink: 0;
    padding: 10px;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1em;
    display: block
}

.site-head-logo:hover {
    text-decoration: none
}

.site-head-logo img {
    width: auto;
    height: 28px;
    margin-top: 2px;
    display: block
}

.site-head-right {
    z-index: 100;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    position: relative
}

.social-links {
    flex-shrink: 0;
    align-items: center;
    display: flex
}

.nav-burger {
    z-index: 9999;
    color: inherit;
    cursor: pointer;
    appearance: none;
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 12px;
    display: none;
    position: absolute;
    left: 0
}

@media (width<=850px) {
    .site-head {
        padding: 0
    }

    .nav-burger {
        display: block
    }

    .site-head-container {
        z-index: -1;
        background: #fff0;
        flex-direction: column;
        justify-content: flex-start;
        height: 40px;
        transition: all .4s ease-out;
        overflow: hidden
    }

    .site-head-left,.site-head-right {
        z-index: -1;
        height: auto;
        transition: height .2s cubic-bezier(.4,.01,.165,.99) 1s;
        position: relative
    }

    .site-head-left a,.site-head-right a {
        opacity: 0;
        margin: 8px 0;
        padding: 1px 0;
        font-size: 2.6rem;
        font-weight: 200;
        line-height: 1.15em;
        transition: transform .3s cubic-bezier(.4,.01,.165,.99),opacity .2s cubic-bezier(.4,.01,.165,.99);
        transform: scale(1.1)translateY(-25px)
    }

    .site-head-right a {
        margin: 1px 0;
        padding: 5px 0;
        font-size: 2rem
    }

    .nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin: 3vw 0 0
    }

    .site-head-left {
        order: 2;
        width: 100%;
        margin: 0
    }

    .site-head-center {
        z-index: auto;
        order: 1;
        justify-content: center;
        display: flex;
        position: static
    }

    .site-head-right {
        order: 3;
        width: 100%;
        margin-top: 3vw
    }

    .social-links {
        flex-direction: column;
        align-items: flex-start
    }

    .site-head-logo {
        letter-spacing: 1px;
        text-align: center;
        white-space: normal;
        max-width: 80%;
        font-size: 2rem;
        line-height: 1.2em
    }

    .site-head-open {
        background: var(--color-bg);
        transition: background .5s ease-out;
        transition-delay: .25;
        height: 100vh;
        overflow: hidden
    }

    .site-head-open .site-head-container {
        height: 100vh;
        transition: height .2s ease-in
    }

    .site-head-open .site-head-left,.site-head-open .site-head-right {
        z-index: 9999;
        height: auto;
        transition: height .2s cubic-bezier(.4,.01,.165,.99)
    }

    .site-head-open .site-head-left a,.site-head-open .site-head-right a {
        opacity: 1;
        transition: transform .6s cubic-bezier(.4,.01,.165,.99),opacity .9s cubic-bezier(.4,.01,.165,.99);
        transform: scale(1)translateY(0)
    }

    .site-head-open .nav-current a {
        border-bottom: var(--color-base) 2px solid
    }

    .site-head-open .site-head-right a {
        opacity: .5
    }

    .site-head-open .site-foot {
        z-index: 9999;
        transition: transform .3s cubic-bezier(.4,.01,.165,.99);
        display: block;
        position: fixed;
        bottom: 0;
        transform: translateY(-4vw)
    }
}

.sr-only {
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden
}

.skip-link {
    z-index: 99999;
    background: var(--color-primary);
    color: var(--color-bg);
    padding: .5em 1em;
    font-weight: 700;
    position: absolute;
    top: -100%;
    left: 0
}

.skip-link:focus {
    top: 0
}

.post-nav-link {
    color: var(--color-base);
    align-items: center;
    font-size: 2rem;
    display: flex
}

.astro-route-announcer {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}
