body {
    font-family: var(--font-serif);
    background: var(--color-bg);
    color: var(--color-base);
    transition: background .3s, ease-out, color .3s ease-out;
    transition-delay: .25;
    margin: 0;
  }
  
.site-wrapper {
  max-width: 1920px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 3vw;
}
  
  header {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  header .logo {
    font-weight: bold;
    font-family: var(--font-sans-serif);
    color: var(--color-base);
    text-transform: uppercase;
    letter-spacing: 3px;
    flex-shrink: 0;
    padding: 10px;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1em;
    display: block;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    background: #f9f9f9;
  }
  
  .grid-item img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: cover;
  }
  
  footer {
    background: #fff;
    color: #000;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  .social-links a {
    color: #000;
    margin: 0 0.5rem;
    text-decoration: none;
  }

  .detalle-imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  .detalle-imagenes img {
    max-width: 100%;
    width: 300px;
    height: auto;
  }
  
  .detalle-video {
    margin-top: 2rem;
  }
  
